################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ServiceDiscovery/.vs/ServiceDiscovery
/ServiceDiscovery/ServiceDiscovery.Consul/obj
/ServiceDiscovery/ServiceDiscovery.Consul/NugetPush.bat
/ServiceDiscovery/ServiceDiscovery.Ocelot/obj
/ServiceDiscovery/ServiceDiscovery.Ocelot/NugetPush.bat
/ServiceDiscovery/ServiceRegister/bin
/ServiceDiscovery/ServiceRegister/obj
